<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>404 - ZHL</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'assets/images/oig3.jpg') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/error.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/flash.css') }} ">
</head>
<body>
<div class="room">

    <div class="cuboid">

        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
    </div>
    <div class="oops">
        <h2>不幸!</h2>
        <p>not found!</p>
    </div>
    <div class="center-line">
        <div class="hole">
            <div class="ladder-shadow"></div>
            <div class="ladder"></div>
        </div>
        <div class="four">4</div>
        <div class="four">4</div>
        <div class="btn">
            <a href="{{ url_for('blog.blog') }}">返回首页</a>
        </div>
    </div>
</div>

</body>
</html>
