<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog - ZHL</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'assets/images/oig3.jpg') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/swap.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/fancybox.min.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/slick.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/media_query.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flash.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/editormd.min.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='assets/images/6.jpg') }}"); /* 设置背景图片 */
            background-repeat: repeat; /* 背景图片不重复 */
            background-size: auto; /* 背景图片覆盖整个屏幕 */
            background-position: center;
        }
    </style>
</head>
<body>
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="site_contain">
    <!-- ====================================== Cusrsor ===================================== -->
    <div class="cursor"></div>
    <!-- ====================================== Cursor End ===================================== -->
    <!-- ====================================== Preloader ===================================== -->
    <div class="page-loader">
        <div class="loader"></div>
        <div class="shadow"></div>
    </div>
    <!-- ====================================== Preloader End ===================================== -->
    <!-- ====================================== Main Menu ===================================== -->
    <header id="top-navbar" class="top-navbar">
        <div class="container">
            <div class="top-navbar_full">
                <div class="back-btn container3">
                    <a href="{{ url_for('blog.blog') }}">
                        <h1>
                            <mark>Blog</mark>
                        </h1>
                    </a>

                </div>
                <div class="hell">
                    <ul class="top-navbar-title">
                        <li><a href="{{ url_for('blog.blog') }}">Blog</a></li>
                        <li class="menu-active"><a href="{{ url_for('add.add') }}">Add</a></li>
                        <li><a href="{{ url_for('contact.contact') }}">Contact</a></li>
                    </ul>
                    {#                    <div class="input-main">#}
                    {#                        <input type="text" name="text" placeholder="Search" autocomplete="off">#}
                    {#                    </div>#}
                    <img src="{{ getProfilePicture(session.get('userName'))  or url_for('static', filename = 'assets/images/oig3.jpg') }}" alt="user-logo" class="user-logo">
                    <div class="outer-menu">
                        <input class="checkbox-toggle" type="checkbox" name="checkbox">
                        <div class="hamburger">
                            <div></div>
                        </div>
                        <!-- ====================================== Side Menu ===================================== -->
                        <div class="menu">
                            <div>
                                <nav>
                                    <div class="container">
                                        <div class="row sidemenu-main">
                                            <div class="col-lg-2">
                                                <div class="menu-text">
                                                    <div class="side-menu-text">
                                                        <p>Memu</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 side-menu-scroll">
                                                <div class="heading2"><a href="{{ url_for('blog.blog') }}">Blog</a></div>
                                                <div class="heading2"><a href="{{ url_for('add.add') }}">Add</a></div>
                                                <div class="heading2"><a href="{{ url_for('contact.contact') }}">Contact</a></div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="cont-info">
                                                    <div class="item">
                                                        <p class="sub-title-address">地址</p>
                                                        <p class="geek-alto"> 南山区 <br>深圳, 中国</p>
                                                    </div>
                                                    <div class="item">
                                                        <p class="sub-title-address"> 联系 我 </p>
                                                        <p>zhanghuiliu2020@163.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ====================================== Main Menu End ===================================== -->
    <section class="single-blog2-section-main overflow-hidden" id="main">
        <div class="container ">
            <p class="main-text" data-aos="fade-down">{{ get_daily_quote.translation }}</p>
            <h1 class="ui-ux JessicaBiogi blog2-main-text" data-aos="fade-down">新增一个博客吧！</h1>
            <h2 class="d-none">hidden</h2>
            <p class="main-text-min" data-aos="fade-up">{{ get_daily_quote.date }}</p>
            <form class="form-main-post" method="post" id="recaptchaForm" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="input-main-form-post">
                    <p class="name">标题:</p>
                    <input type="text" name="postTitle" placeholder="LeBron James: Basketball Icon's Journey to Immortality">
                </div>
                <div class="input-main-form-post">
                    <p class="name">类别:</p>
                    <input type="text" name="postCategory" placeholder="Sports">
                </div>
                <div class="input-main-form-post">
                    <p class="name">标记:</p>
                    <input type="text" name="postTags" placeholder="LeBron James,NBA">
                </div>
                <div class="input-main-form-post">
                    <p class="name">配图:</p>
                    <input type="file" name="postBanner" placeholder="必填">
                </div>
                <div class="form-submit-btn-main">
                    <button type="submit" name="action" value="post" class="explore-btn hover-slide-right form-submit-btn" id="postBtn">
                        <span>发布
                          <svg class="expo-arrow2" xmlns="http://www.w3.org/2000/svg" width="32"
                               height="32" viewBox="0 0 32 32" fill="none">
                            <g>
                              <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                              <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                              <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                          </svg>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <section class="section-two-my-services">
        <div class="container-xxl">
            <h2 class="sed sed2 pb-0" data-aos="fade-up">LeBron James: Basketball Icon's Journey to Immortality</h2>
            <div class="bloger-date-view-details2" data-aos="fade-up">
                <p class="bloger-name">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path
                                    d="M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
                                    stroke="#FFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </g>
                    </svg>
                    {{ session.get('userName') }}
                </p>
                <p class="bloger-name">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path
                                    d="M3 9H21M7 3V5M17 3V5M6 13H8M6 17H8M11 13H13M11 17H13M16 13H18M16 17H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z"
                                    stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </g>
                    </svg>
                    {{ get_daily_quote.date }}
                </p>
            </div>
            <p class="nunc-text nunc-text2 mattis" data-aos="fade-up">
            <div id="editor">
                <textarea style="display:none;" name="postContent">### Hello !</textarea>
            </div>
            </p>
            <p class="continue-reading" data-aos="fade-right"> Finish </p>
        </div>
    </section>
    <div class="header_full_sec" id="contact-ticker">
        <div class="position-relative">
            <img alt="contact-logo" class="contact-logo client-bounce-img1" src="{{ url_for('static', filename = 'assets/images/girl1.jpg') }}"
                 alt="client-bounce-img1">
            <img alt="contact-logo" class="contact-logo client-bounce-img2" src="{{ url_for('static', filename = 'assets/images/boy1.jpg') }}"
                 alt="client-bounce-img2">
            <img alt="contact-logo" class="contact-logo client-bounce-img3" src="{{ url_for('static', filename = 'assets/images/boy2.jpg') }}"
                 alt="client-bounce-img3">
            <img class="contact-logo client-bounce-img4" src="{{ url_for('static', filename = 'assets/images/girl2.jpg') }}"
                 alt="client-bounce-img4">
            <div class="logos">
                <div class="logos-slide">
                    <div class="ticker__item">
                        {{ get_daily_quote.translation }}
                    </div>
                    <div class="ticker__item">
                        {{ get_daily_quote.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>
</div>

<script src="{{ url_for('static', filename='assets/javascript/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/fancybox.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/gsap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/aos.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/script.js') }}"></script>
<script src="https://recaptcha.net/recaptcha/api.js?render={{ siteKey }}" async defer></script>
<script>
    var siteKey = "{{ siteKey }}";
</script>
<script src="{{ url_for('static', filename='assets/javascript/editormd.min.js') }}"></script>
<script type="text/javascript">
    var editor;
    $(function () {
        editor = editormd("editor", {
            width: "85%",
            emoji: true,
            height: 2000,
            path: "/static/assets/lib/"
        });
    });
</script>
<script src="{{ url_for('static', filename='assets/javascript/recaptcha.js') }}"></script>
</body>
</html>