<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - ZHL</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'assets/images/oig3.jpg') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/swap.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/fancybox.min.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/slick.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/media_query.css') }}">

</head>
<body>
<div class="site_contain">
    <!-- ====================================== Cusrsor ===================================== -->
    <div class="cursor"></div>
    <!-- ====================================== Cursor End ===================================== -->
    <!-- ====================================== Preloader ===================================== -->
    <div class="page-loader">
        <div class="loader"></div>
        <div class="shadow"></div>
    </div>
    <!-- ====================================== Preloader End ===================================== -->
    <!-- ====================================== Main Menu ===================================== -->
    <header id="top-navbar" class="top-navbar">
        <div class="container">
            <div class="top-navbar_full">
                <div class="back-btn container3">
                    <a href="{{ url_for('home') }}">
                        <h1>
                            <mark>Blog</mark>
                        </h1>
                    </a>

                </div>
                <div class="hell">
                    <ul class="top-navbar-title">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li class="menu-active"><a href="{{ url_for('blog') }}">Blog</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                    <a href="{{ url_for('static', filename = 'assets/pdf/olivia_resume.pdf') }}">
                        <div class="cv-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none">
                                <g clip-path="url(#clip0_25_74)">
                                    <path d="M12 3V15" stroke="#0F141C" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path d="M16 11L12 15L8 11" stroke="#0F141C" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                    <path
                                            d="M3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12"
                                            stroke="#0F141C" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </div>
                    </a>
                    <div class="outer-menu">
                        <input class="checkbox-toggle" type="checkbox" name="checkbox">
                        <div class="hamburger">
                            <div></div>
                        </div>
                        <!-- ====================================== Side Menu ===================================== -->
                        <div class="menu">
                            <div>
                                <nav>
                                    <div class="container">
                                        <div class="row sidemenu-main">
                                            <div class="col-lg-2">
                                                <div class="menu-text">
                                                    <div class="side-menu-text">
                                                        <p>menu</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 side-menu-scroll">
                                                <div class="heading2"><a href="{{ url_for('home') }}">Home</a></div>
                                                <div class="heading2"><a href="{{ url_for('blog') }}">Blog</a></div>
                                                <div class="heading2"><a href="{{ url_for('contact') }}">Contact</a></div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="cont-info">
                                                    <div class="item">
                                                        <p class="sub-title-address">地址</p>
                                                        <p class="geek-alto"> 南山区 <br>深圳, 中国</p>
                                                    </div>
                                                    <div class="item">
                                                        <p class="sub-title-address"> 联系 我 </p>
                                                        <p>zhanghuiliu2020@163.com</p>
                                                        <p class="underline">13132277902</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <!-- ====================================== Side Menu End===================================== -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ====================================== Main Menu End===================================== -->
    <!-- ====================================== Blog Section One ===================================== -->
    <section class="section-main overflow-hidden" id="main">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <p class="main-text about-hello" data-aos="fade-down">NEWS</p>
                    <h1 class="JessicaBiogi" data-aos="fade-down">Latest Blog</h1>
                    <p class="Freelance about-freelance" data-aos="fade-down">Metus montes facilisis nulla eros
                        nascetur accumsan nibh facilisi. Euismod amet amet pharetra turpis eleifend sed. Volutpat
                        turpis ut amet nec feugiat orci.</p>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 about-main-img-sec">
                    <img class=" blog-flower-img" src="{{ url_for('static', filename = 'assets/images/flower.png') }}" alt="flower">
                    <img class="about-img-main" src="{{ url_for('static', filename = 'assets/images/blog-main-img.png') }}" alt="blog-main-img"
                         data-aos="fade-left">
                    <img class="about-arrow-main" id="arrow" src="{{ url_for('static', filename = 'assets/images/about-arrow-main.png') }}"
                         alt="about-arrow-main">
                </div>
            </div>
        </div>
    </section>
    <!-- ====================================== Blog Section One End ===================================== -->
    <!-- ======================================= Blog Section Two ================================== -->
    <section class="section-seven overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog new-img-box-main3"
                     data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/news-img1.jpg') }}" alt="news-img1"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 25, 2024 _ DEVELOPMENT</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">Does My Website Need a
                        Blog?</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog new-img-box-main3"
                     data-aos="fade-down">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/news-img2.jpg') }}" alt="news-img2"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 26, 2024 _ DESIGN</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">Best 10 App for Digital
                        Transformation</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog new-img-box-main3"
                     data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/news-img3.jpg') }}" alt="news-img3"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 28, 2024 _ MARKETING</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">A Simple Social Media
                        Checklist</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog new-img-box-main3"
                     data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/seo-implemnts.jpg') }}" alt="seo-implemnts"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 25, 2024 _ DEVELOPMENT</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">SEO implements
                        in website</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog new-img-box-main3"
                     data-aos="fade-down" id="new-img-box-main-margin">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/digital-tools-img.jpg') }}" alt="digital-tools-img"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 26, 2024 _ DESIGN</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">You're Still Not Using
                        Digital Tools?</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog new-img-box-main3"
                     data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/digital-marketing-img.jpg') }}" alt="digital-marketing-img"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 28, 2024 _ MARKETING</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">Digital Marketing for
                        Online Business</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog" data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/transforming-img.jpg') }}" alt="transforming-img"
                         onclick="window.location.href='single_blog.html';">
                    <p class="date-dev">APRIL 25, 2024 _ DEVELOPMENT</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">Transforming Challenges
                        into Opportunities</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main-blog new-img-box-main5"
                     data-aos="fade-down">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/effective-img.jpg') }}" alt="effective-img"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 26, 2024 _ DESIGN</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">8 Effective Inbound
                        Marketing Examples</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 new-img-box-main4 new-img-box-main-blog new-img-box-main5"
                     data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/web-design-tool-img.jpg') }}" alt="web-design-tool-img"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 28, 2024 _ MARKETING</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">5 Web Design Tools &
                        Software Apps</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 text new-img-box-main-blog new-img-box-main5"
                     data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/news-img1.jpg') }}" alt="news-img1"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 25, 2024 _ DEVELOPMENT</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">Does My Website Need a
                        Blog?</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 text new-img-box-main-blog new-img-box-main5"
                     data-aos="fade-down">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/news-img2.jpg') }}" alt="news-img2"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 26, 2024 _ DESIGN</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">Best 10 App for Digital
                        Transformation</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 text new-img-box-main-blog new-img-box-main5"
                     data-aos="fade-up">
                    <img class="news-img" src="{{ url_for('static', filename = 'assets/images/news-img3.jpg') }}" alt="news-img3"
                         onclick="window.location.href='{{ url_for('single_blog') }}';">
                    <p class="date-dev">APRIL 28, 2024 _ MARKETING</p>
                    <h2 class="need-blog" onclick="window.location.href='{{ url_for('single_blog') }}';">A Simple Social Media
                        Checklist</h2>
                    <p class="explore-me read-more-btn">
                        <a href="{{ url_for('single_blog') }}">READ MORE
                            <svg class="expo-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32" fill="none">
                                <g>
                                    <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="load-more-btn-main" id="blog-load-more-btn">
            <button class="explore-btn hover-slide-right load-more-btn">
                    <span id="toggle">LOAD MORE
                        <svg class="expo-arrow2" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32" fill="none">
                            <g>
                                <path d="M6.66669 16H25.3334" stroke="#FFDB59" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M20 21.3333L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M20 10.6666L25.3333 16" stroke="#FFDB59" stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </span>
            </button>
        </div>
    </section>
    <!-- ======================================= Blog Section Two End ================================== -->
    <!-- ====================================== Footer ===================================== -->
    <footer>
        <div class="footer-bg">
            <div class="container footer-containe">
                <div class="hekl">
                    <div class="row">
                        <div class="col-xxl-5 col-xl-5 col-lg-5">
                            <div class="container3">
                                <h1>
                                    <mark>每日一句</mark>
                                </h1>
                            </div>

                            <p class="work_well">它们什么时候工作得很好，什么时候对我们有用，最后， 我们什么时候真正需要如何避免它们。它们什么时候工作得很好，什么时候对我们有用，最后， 我们什么时候真正需要如何避免它们。它们什么时候工作得很好，什么时候对我们有用，最后，
                                我们什么时候真正需要如何避免它们。</p>
                            <div class="contact-footer  container4">
                                <img src="{{ url_for('static', filename = 'assets/images/phone_svg.svg') }}" alt="phone_svg">
                                <h1>
                                    <mark>13132277902</mark>
                                </h1>
                            </div>
                            <div class="contact-footer  container4">
                                <img src="{{ url_for('static', filename = 'assets/images/email_svg.svg') }}" alt="email_svg">
                                <h1>
                                    <mark>zhanghuiliu2020@163.com</mark>
                                </h1>
                            </div>
                            <div class="contact-footer  container4">
                                <img src="{{ url_for('static', filename = 'assets/images/location_svg.svg') }}" alt="location_svg">
                                <h1>
                                    <mark>南山区 中国 深圳</mark>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="copyright_main">
                        <p class="copyright">© 2024 | All rights reserved by
                            <a href="Http://www.bootstrapmb.com" target="_blank">The_zhl</a>
                        </p>
                        <div class="input-main">
                            <input type="text" name="text" placeholder="Enter your email" autocomplete="off">
                            <svg class="send-svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_147_85)">
                                    <path d="M10 14L21 3" stroke="white" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path
                                            d="M21 3L14.5 21C14.4561 21.0957 14.3857 21.1769 14.2971 21.2338C14.2084 21.2906 14.1053 21.3209 14 21.3209C13.8947 21.3209 13.7916 21.2906 13.703 21.2338C13.6143 21.1769 13.5439 21.0957 13.5 21L10 14L3.00001 10.5C2.90427 10.4561 2.82314 10.3857 2.76626 10.2971C2.70938 10.2084 2.67914 10.1053 2.67914 10C2.67914 9.89468 2.70938 9.79158 2.76626 9.70295C2.82314 9.61431 2.90427 9.54387 3.00001 9.5L21 3Z"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_147_85">
                                        <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="desktop-itemright-footer">
                    <div class="footer-box-right">
                        <p class="mind-project">你心中有一个项目了吗?</p>
                        <div class="view-work-circle btn btn1">
                            <a href="{{ url_for('contact') }}" class="a1">联系我</a>
                        </div>
                        <div>
                            <p class="contact_time">09 : 00 AM - 10 : 30 PM</p>
                            <p class="monday">星期一至星期六</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ====================================== Footer End ===================================== -->
    <!-- ====================================== Progress Scroll Bottom To Top ===================================== -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>
    <!-- ====================================== Progress Scroll Bottom To Top End ===================================== -->
</div>
<script src="{{ url_for('static', filename='assets/javascript/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/fancybox.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/gsap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/aos.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/script.js') }}"></script>
</body>
</html>